body {
    font-family: "Open Sans";
    background-color: hsl(210, 100%, 15%);
}

/* ******* Overlay Styles ******* */
.wrapper {
    display: flex;
    height: 100vh;
    width: 100vw;
    max-width: 100vw;
    align-items: stretch;
}

.sidebar {
    float: left;
    height: 100vh;
    width: 600px;
    background-color: hsl(210, 100%, 15%);
    color: hsl(210, 20%, 100%);
    overflow: auto;
}

.slider {
    float: left;
    height: 100vh;
    width: 10px;
    margin-left: 600px;
    cursor: ew-resize;
    background-image: linear-gradient(to right, hsl(190, 70%, 20%), hsl(190, 70%, 25%), hsl(190, 70%, 20%));
}

.map-wrapper {
    position: relative;
    margin-left: 610px;
    height: 100vh;
    overflow: auto;
}

#map, div.sidebar {
    position: absolute;
    top: 0;
    bottom: 0; 
    right: 0;
    left: 0;
}

#map {
    width: 100%;
    height: 100%;
}

.title {
    max-height: 58px;
    font-size: 2.3vw;
    text-align: center;
}

.title b {
    font-size: 2.6vw;
    font-weight: normal;
}

.row { 
    margin-right: 0px;
}

.nav-buttons {
    width: 12%;
    max-width: 12%;
    margin-left: 10px;
}

.sidebar-contents {
    width: 86%;
}
/* ******* END Overlay Styles ******* */

/* ******* Full Page Editing ******* */
div.hidden h3{
    display: none;
}

h3.hidden {
    display: none;
}
/* ******* END Full Page Editing ******* */

/* ******* Sidebar Sections ******* */
div.hidden div.mapanalysis {
    display: none;
}
/* ******* END Sidebar Sections ******* */

/* ******* Toggle Button ******* */
.toggle-btn {
    z-index: 3;
}

.toggle-btn button {
    background-color: hsl(210, 20%, 100%);
    margin-top: 0px;
    width: 75%;
}

.toggle-btn button:hover {
    background-color: hsl(210, 60%, 95%);
}

.toggle-btn button.active {
    width: 100%;
    border-radius: 0px;
}

.toggle-btn h4 {
    color: hsl(210, 90%, 25%);
    font-size: 20px;
    margin-bottom: 0px;
}

.btn-list {
    background-color: hsl(210, 50%, 100%);
    border-bottom: 1px;
    border-radius: 2px;
    margin-top: 5px;
    text-align: left;
}

.page-btn {
    margin: 5px 0px;
    padding: 5px;
    height: 90px;
}

.page-btn h4 {
    writing-mode: vertical-lr;
    text-orientation: sideways;
    transform: rotate(180deg);
    margin: 4px 6px;
}
/* ******* END Toggle Button ******* */

/* ******* Details Left Overlay ******* */
.main-title {
    padding: 17px 0px;
    border-bottom-style: groove;
    border-color: hsl(210, 60%, 95%);
    color: hsl(210, 60%, 95%);
}

.overlay-page {
    display: block;
    margin: 5px 0px 0px 0px;
    border-radius: 1px;
    background-color: hsl(210, 20%, 99%);
    overflow: hidden;
}

.overlay-page-toggle {
    margin: 5px 0px 0px 0px;
    overflow: hidden;
}

.overlay-page.hidden { 
    display: none;
}

.overlay-page .sidebar-main {
    background-color: hsl(210, 60%, 90%);
    color: hsl(210, 20%, 20%);
    margin: 6px;
    padding: 10px;
    border-radius: 1px;
    height: 80vh;
    overflow: hidden;
}

.sidebar-main.mapanalysis {
    overflow: scroll;
}

.sidebar-header {
    display: table;
    text-align: center;
    height: 30px;
    width: 100%;
}

.sidebar-header span {
    display: table-cell;
    vertical-align: middle;
}

.sidebar-header span h3 {
    padding: 5px;
    margin-bottom: 0px;
    color: hsl(210, 100%, 15%);
}

.sidebar-main p {
    font-size: 17px;
    margin-bottom: 4px;
}
/* ******* END Details Sidebar ******* */

/* ******* Video Details ******* */
.chart-container {
    position: relative;
    width: 34vw;
    height: 28.5vh;
    margin-bottom: 40px;
}

.sidebar-main h4 {
    margin-bottom: 3px;
    font-size: 17px;
    color: hsl(210, 20%, 15%);
}

canvas#analysischart, canvas#carochart {
    background-color: hsl(210, 85%, 99%);
    max-width: 33vw !important;
    width: 500px !important;
    height: 29vh !important;
    margin: 0 auto;
}

#videoPlayer, #videoAPlayer, #objDetPlayer {
    display: block;
    max-height: 30vh !important;
    max-width: 34vw;
    margin: auto;
    transition: width 1s;
}

video#videoPlayer.sensorVideo {
    height: 40vh !important;
    max-height: 40vh !important;
    max-width: 470px !important;
    margin-top: 10px;
}

.hidden #videoPlayer, .hidden #videoAPlayer, .hidden #objDetPlayer {
    width: 0%;
    transition: width 1s;
}

audio#audioPlayer {
    width: 33vw;
    margin-left: 0.4vw;
}
/* ******* END Video Details ******* */

/* ******* Chatbox ******* */
.chat-container.cnlChat .chatroom h3 {
    display: none;
}

.chat-container.cnlChat {
    margin: 10px auto;
    width: 97%;
    box-shadow: none;
    z-index: 3;
}

.cnlChat .chatroom {
    height: 75vh;
    background-color: inherit;
    color: hsl(210, 80%, 10%);
}

.cnlChat .chatroom h3 {
    background-color: hsl(210, 100%, 99%);
    color: hsl(210, 80%, 25%);
    font-weight: normal;
    font-size: 20px;
}

.cnlChat .chatroom .chats {
    height: calc(100% - 40px);
}

.cnlChat .chatroom .chats .chat {
    background: inherit;
    font-size: 18px;
    padding: 2px 3px;
    margin: 5px 0 0;
}

.cnlChat .chatroom .input {
    background-color: hsl(210, 100%, 99%);
}

.cnlChat .chatroom .input input[type=text] {
    background-color: hsl(210, 20%, 95%);
    color: hsl(210, 90%, 20%);
    font-size: 16px;
}

.cnlChat .chatroom .input input[type=submit] {
    background-color: hsl(210, 40%, 40%);
    border-radius: 3px;
}

.cnlChat .chatroom .input input[type=submit]:hover {
    background-color: hsl(210, 40%, 20%);
}

.cnlChat .chatroom .input #speech-input {
    background-color: hsl(210, 40%, 40%);
    border-radius: 3px;
}
/* ******* END Chatbox ******* */

/* ******* Carousel ******** */
.carousel {
    width: 100%;
}

.carousel-control-prev {
    justify-content: flex-start !important;
}

.carousel-control-next {
    width: 25px;
    justify-content: flex-end !important;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 25px;
    height: 25px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%231980e6' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%231980e6' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e") !important;
}
/* ******* END Carousel ******* */

/* ******* Timeline ******** */
.sidebar-main .timeline p {
    font-size: 14px;
}

.sidebar-main .timeline h2 {
    font-size: 16px;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}
  
.tcontainer {
    position: relative;
    background-color: inherit;
    width: 50%;
    padding: 10px 20px;
}
  
.tcontainer::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    right: -10px;
    background-color: white;
    border: 4px solid #80b3ff;
    top: 16px;
    border-radius: 50%;
    z-index: 3;
}

.tcontainer.blue::after {
    border: 4px solid #6aa5f7;
}

.tcontainer.yellow::after {
    border: 4px solid #fdfd5f;
}

.tcontainer.orange::after {
    border: 4px solid #ff8737;
}

.tcontainer.red::after {
    border: 4px solid #f91c1c;
}
  
.timeline .left {
    left: 0;
}

.timeline .right {
    left: 50%;
}
  
.timeline .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 16px;
    width: 0;
    z-index: 1;
    right: 10px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}
  
.timeline .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 16px;
    width: 0;
    z-index: 1;
    left: 10px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}
  
.timeline .right::after {
    left: -10px;
}
  
.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}
  
@media screen and (max-width: 600px) {
    .timeline::after {
      left: 31px;
    }
  
    .tcontainer {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
  
    .tcontainer::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }
  
    .timeline .left::after, .timeline .right::after {
      left: 15px;
    }

    .timeline .right {
      left: 0%;
    }
}
/* ******* END Timeline ******** */

#priorityChartContainer, #timeChartContainer {
    height: 310px;
}
/* ******* Different media size texts ******** */
@media screen and (min-width: 1000px) {
    .toggle-btn h4 {
       font-size: 18px;
    }

    .title {
        font-size: 32px;
    }

    .title b {
        font-size: 38px;
    }
}